<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Voice Assistant</title>
  </head>
  <body>
    <h2 id="showBotName">...</h2>
    <button id="start-btn">Record & Command</button>
    <p>You side: <span id="output">...</span></p>
    <p>Run status: <span id="startAppsSection">...</span></p>
    <p>Kill status: <span id="KillAppsSection">...</span></p>
    <p>YouTube status: <span id="searchOnYtSection">...</span></p>
    <p>AI answer status: <span id="AiResponsSection">...</span></p>
    <div style="margin: 1em">
      <h3>Run</h3>
      <select id="runCommands"></select>
      <h3>Kill</h3>
      <select id="killCommands"></select>
    </div>

    <div>
      <form id="botNameForm">
        <input type="text" placeholder="Change bot name" id="nameBot" />
        <button type="submit">Change</button>
      </form>
    </div>

    <script>
      (async () => {
        const res = await fetch(
          "http://localhost:3000/getRunKillCmdAndBotName",
          {
            method: "GET",
            headers: { "Content-Type": "application/json" },
          }
        );

        let data = await res.json();
        console.log(data);
        showCommands(data.runcommands, "run");
        showCommands(data.killcommands, "kill");
        const botName = data.botName;
        document.getElementById("showBotName").textContent = botName;
        const recognition = new (window.SpeechRecognition ||
          window.webkitSpeechRecognition)();
        let languag = data.sysLang;
        recognition.lang = languag;
        // recognition.continuous = true;
        recognition.interimResults = false;

        let isSystemActive = false;

        document.getElementById("start-btn").onclick = () => {
          if (!isSystemActive) {
            recognition.start();
            isSystemActive = true;
            console.log("System Activated. Listening...");
            document.getElementById("start-btn").innerText = "System Online ðŸŸ¢";
          }
        };

        async function sendRequest(url, cmd) {
          const res = await fetch(url, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(cmd),
          });

          const data = res.text();
          return data;
        }

        function say(text, lang) {
          const utterance = new SpeechSynthesisUtterance(text);
          utterance.lang = lang;

          window.speechSynthesis.speak(utterance);
        }

        function showCommands(commands, runOrKill) {
          const selectRunTag = document.getElementById("runCommands");
          const selectKillTag = document.getElementById("killCommands");
          if (runOrKill === "run") {
            commands.reverse().forEach((com) => {
              selectRunTag.innerHTML += `<option>${com.userCmd}</option>`;
            });
          } else if (runOrKill === "kill") {
            commands.reverse().forEach((com) => {
              selectKillTag.innerHTML += `<option>${com.userCmd}</option>`;
            });
          }
        }

        recognition.onresult = async (event) => {
          const transcript =
            event.results[event.results.length - 1][0].transcript.trim();
          // console.log("Command detected: ", transcript);
          const splitedCall = transcript.split(" ");

          console.log(splitedCall);
          if (splitedCall[0] === botName && splitedCall[1] === "Ø´ØºÙ„") {
            splitedCall.shift(0);
            splitedCall.shift(1);
            const cmd = splitedCall.join(" ");

            if (cmd.length < 1) {
              console.log("there is no command");
              return;
            }
            try {
              const respons = await sendRequest(
                "http://localhost:3000/runApp",
                {
                  appName: cmd,
                }
              );
              document.getElementById("startAppsSection").innerHTML = respons;
              say(respons, "en-US");
            } catch (err) {
              console.log(err);
            }

            document.getElementById("output").innerHTML = transcript;
          } else if (splitedCall[0] === botName && splitedCall[1] === "Ø·ÙÙŠ") {
            splitedCall.shift(0);
            splitedCall.shift(1);
            const cmd = splitedCall.join(" ");

            if (cmd.length < 1) {
              console.log("there is no command");
              return;
            }
            try {
              const respons = await sendRequest(
                "http://localhost:3000/killApp",
                {
                  appName: cmd,
                }
              );
              document.getElementById("KillAppsSection").innerHTML = respons;
              say(respons, "en-US");
            } catch (err) {
              console.log(err);
            }

            document.getElementById("output").innerHTML = transcript;
          } else if (
            splitedCall[0] === botName &&
            splitedCall[1] === "Ø§Ø¨Ø­Ø«" &&
            splitedCall[2] === "Ø¹Ù†"
          ) {
            splitedCall.shift(0);
            splitedCall.shift(1);
            splitedCall.shift(2);
            const cmd = splitedCall.join(" ");
            if (cmd.length < 1) {
              console.log("there is no command");
              return;
            }
            try {
              const respons = await sendRequest(
                "http://localhost:3000/searchOnYt",
                {
                  search: cmd,
                }
              );
              document.getElementById("searchOnYtSection").innerHTML = respons;
              say(respons, "en-US");
            } catch (err) {
              console.log(err);
            }

            document.getElementById("output").innerHTML = transcript;
          } else if (splitedCall[0] === "Ø§Ø³Ù…Ø¹") {
            splitedCall.shift(0);

            const cmd = splitedCall.join(" ");
            if (cmd.length < 1) {
              console.log("there is no command");
              return;
            }
            document.getElementById("output").innerHTML = cmd;

            try {
              const respons = await sendRequest("http://localhost:3000/askAi", {
                questionToAi: cmd,
              });
              document.getElementById("AiResponsSection").innerHTML = respons;
              say(respons, "en-US");
            } catch (err) {
              console.log(err);
            }
          }
          //  else if (
          //   splitedCall[0] === botName &&
          //   splitedCall[1] === "ØºÙŠØ±" &&
          //   splitedCall[2] === "Ø§Ù„Ù„ØºÙ‡" &&
          //   splitedCall[3] === "Ø§Ù„Ù‰" &&
          //   splitedCall[4] === "Ø§Ù„Ø§Ù†Ø¬Ù„ÙŠØ²ÙŠÙ‡"
          // ) {
          //   const oldLang = data.sysLang;
          //   const newLang = "en-US";

          //   const res = await fetch("http://localhost:3000/changLang", {
          //     method: "POST",
          //     headers: { "Content-Type": "application/json" },
          //     body: JSON.stringify({ oldLang: oldLang, newLang: newLang }),
          //   });

          //   const resdata = await res.json();

          //   languag = resdata.newLang;
          //   recognition.lang = languag;

          //   const newdata = await fetch(
          //     "http://localhost:3000/getRunKillCmdAndBotName"
          //   );
          //   data = await newdata.json();

          //   isSystemActive = false;
          //   recognition.abort();

          //   say("languad changed to english", "en-US");

          //   setTimeout(() => {
          //     isSystemActive = true;
          //     recognition.start();
          //   }, 500);
          // }
        };
        recognition.onend = () => {
          if (isSystemActive) {
            setTimeout(() => {
              try {
                recognition.start();
              } catch (e) {
                console.log(e);
              }
            }, 10);
          }
        };

        recognition.onerror = (event) => {
          if (event.error === "no-speech") return;
          console.error("Speech Error: ", event.error);
        };

        document
          .getElementById("botNameForm")
          .addEventListener("submit", async (e) => {
            e.preventDefault();
            const newBotName = document.getElementById("nameBot").value;
            const res = await fetch("http://localhost:3000/ChangeBotName", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({
                newBotName: newBotName,
                oldBotName: botName,
              }),
            });

            const data = await res.json();
            if (data.status === "success") {
              alert(data.msg);
              window.location.reload();
            } else {
              alert(data.msg);
            }
          });
      })();
    </script>
  </body>
</html>
